{% extends 'notecraft/layout.html' %} {% block body %}
<div class="flex flex-col gap-5 2xl:w-1/3 lg:w-1/2 sm:w-4/5 rounded overflow-hidden m-auto">
    <div class="flex justify-center gap-5">
        <button id="regSection" onclick="hideLogin()" class="flex-1 text-center py-3 text-blue-600 border-b-2 border-blue-600 font-semibold">Sign Up</button>
        <button id="logSection" onclick="hideRegister()" class="flex-1 text-center py-3 font-semibold hover:text-blue-600">Sign In</button>
    </div>

    <form id="registerUser" class="flex flex-col gap-3" onsubmit="registerUser(event)">
        <div class="flex items-center border-2 py-2 px-3 rounded-lg">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="text-gray-400 icon icon-tabler icon-tabler-user"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
            </svg>
            <input
                id="regUname"
                class="pl-2 w-full outline-none border-none"
                type="text"
                name="username"
                placeholder="Username"
                autocomplete="off"
            />
        </div>

        <div class="flex items-center border-2 py-2 px-3 rounded-lg">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="text-gray-400"
                fill="none"
                width="20"
                height="20"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    strokeWidth="2"
                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                />
            </svg>
            <input
                id="regEmail"
                class="pl-2 w-full outline-none border-none"
                type="email"
                name="email"
                placeholder="Email Address"
                autocomplete="off"
            />
        </div>

        <div class="flex items-center border-2 py-2 px-3 rounded-lg">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="text-gray-400 icon icon-tabler icon-tabler-lock"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"
                ></path>
                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
            </svg>
            <input
                id="regPass"
                class="pl-2 w-full outline-none border-none"
                type="password"
                name="password"
                placeholder="Password"
            />
        </div>

        <div class="flex items-center border-2 py-2 px-3 rounded-lg">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="text-gray-400 icon icon-tabler icon-tabler-lock"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"
                ></path>
                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
            </svg>
            <input
                id="confirmPass"
                class="pl-2 w-full outline-none border-none"
                type="password"
                name="confirmation"
                placeholder="Confirm Password"
            />
        </div>
        <input
            type="submit"
            class="w-max self-center bg-indigo-600 py-2 px-5 rounded-lg hover:bg-indigo-700 hover:-translate-y-1 transition-all duration-500 text-white font-semibold"
            value="Sign Up"
        >
    </form>

    <form id="loginUser" class="hidden flex flex-col gap-3" onsubmit="loginUser(event)">
        <div class="flex items-center border-2 py-2 px-3 rounded-lg">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="text-gray-400 icon icon-tabler icon-tabler-user"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
            </svg>
            <input
                id="logUname"
                class="pl-2 w-full outline-none border-none"
                type="text"
                name="username"
                placeholder="Username"
                autocomplete="off"
            />
        </div>
        <div class="flex items-center border-2 py-2 px-3 rounded-lg">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="text-gray-400 icon icon-tabler icon-tabler-lock"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"
                ></path>
                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
            </svg>
            <input
                id="logPass"
                class="pl-2 w-full outline-none border-none"
                type="password"
                name="password"
                placeholder="Password"
            />
        </div>
        <input
            type="submit"
            class="w-max self-center bg-indigo-600 px-5 py-2 rounded-lg hover:bg-indigo-700 hover:-translate-y-1 transition-all duration-500 text-white font-semibold"
            value="Sign In"
        >
    </form>
</div>
<script>
    const register = document.querySelector("#registerUser");
    const login = document.querySelector("#loginUser");
    const regSection = document.querySelector("#regSection");
    const logSection = document.querySelector("#logSection");

    function registerUser() {
        event.preventDefault();
        const uname = document.querySelector("#regUname");
        const email = document.querySelector("#regEmail");
        const pass = document.querySelector("#regPass");
        const confirmPass = document.querySelector("#confirmPass");
        if (pass.value === confirmPass.value) {
            fetch("/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{csrf_token}}",
                },
                body: JSON.stringify({
                    username: uname.value,
                    email: email.value,
                    password: pass.value,
                }),
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log(data);
                    if (data.success == true) {
                        location.reload(true);
                    } else {
                        alert("Username already exists");
                    }
                });
        } else {
            alert("Passwords do not match");
        }
    }

    function loginUser() {
        event.preventDefault();
        const uname = document.querySelector("#logUname");
        const pass = document.querySelector("#logPass");
        fetch("/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{csrf_token}}",
            },
            body: JSON.stringify({
                username: uname.value,
                password: pass.value,
            }),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
                if (data.success == true) {
                    location.reload(true);
                } else {
                    alert(data.Error);
                }
            });
    }

    function hideRegister() {
        login.classList.remove("hidden");
        register.classList.add("hidden");
        regSection.classList.remove("border-b-2", "border-blue-600", "text-blue-600");
        regSection.classList.add("hover:text-blue-600");
        logSection.classList.add("border-b-2", "border-blue-600", "text-blue-600");
        logSection.classList.remove("hover:text-blue-600");
        register.reset();
    }

    function hideLogin() {
        register.classList.remove("hidden");
        login.classList.add("hidden");
        logSection.classList.remove("border-b-2", "border-blue-600", "text-blue-600");  
        logSection.classList.add("hover:text-blue-600");
        regSection.classList.add("border-b-2", "border-blue-600", "text-blue-600");
        regSection.classList.remove("hover:text-blue-600");
        login.reset();
    }
</script>
{% endblock %}
