{% extends 'notecraft/layout.html' %} 
{% load static %}
{% block body %} 
{% if studMat %} 
    <div class="flex flex-col gap-5 p-5" id="studMatBlock">
        <div class="text-xl font-bold m-auto">{{studMat.title}}</div>

        <div>
            <div class="font-bold text-lg my-3">Summary</div>
            <div class="">{{studMat.summary}}</div>
        </div>

        <div>
            <div class="text-xl font-bold my-3">Notes</div>
            <div class="flex flex-col gap-3">
                {% for note in studMat.notes %}
                <div class="px-4 py-2 border rounded-lg font-semibold bg-gray-200">
                    {{note}}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="flex flex-wrap gap-10 justify-center my-5">
            {% for key,value in studMat.flashcards.items %}
            <div
                class="p-3 border border-2 border-gray-400 rounded-lg h-48 w-48 flex items-center justify-center text-center cursor-pointer"
                onclick="flip(event)"
            >
                <span class="pointer-events-none">{{key}}</span>
                <span class="pointer-events-none hidden">{{value}}</span>
            </div>
            {% endfor %}
        </div>

        <div class="border border-1 bg-gray-200 rounded-lg m-auto p-2">
            <button onclick="switchToTest(event, '{{csrf_token}}', '{{studMat.id}}')">Start Test</button>
        </div>
        
    <div id="testBlock" class="hidden">
        <div id="questions">

        </div>
        <button id="prevButton" onclick="prev()" disabled>Previous</button>
        <button id="nextButton" onclick="next()">Next</button>
        <button id="submitButton" onclick="submitAnswers()" class="hidden">submit</button>
    </div>

    <script src="{% static 'js/studMat.js' %}"></script>

{% else %}
    <div>Some error occured.</div>
{% endif %} 
{% endblock %}
